<article>
    <header>
      <h1 style="text-align: center; font-size: 32px; color: rgb(236, 80, 127);" >you won't believe it but this is a dynamically created website</h1>
      <p style="text-align: center; font-size: 16px; color: rgb(235, 32, 201);" >Posted by NellieNorm</p>
      <p style="text-align: center; font-size: 16px; color: rgb(236, 164, 224);" >woo hoo ! it's a party in here!</p>
    </header>
    <p>Happy families are all alike; every unhappy family is unhappy in its own way.</p>
  </article> 

  <form action="/submit" method="post">
    <label for="namefield">Name:</label>
    <input type="text" id="namefield" name="name">
    <label for="agefield">Age:</label>
    <input type="number" id="agefield" name="age">
    <br>
    <label for="colour">Favourite colour:</label>
    <input type="text" id="namefield" name="name">
    <input type="submit" value="Submit">
    <br>
    </form>